body {
    background-color: #F2EDD9;
    color: #444;
    text-align: center;
}

.header-div {
    background-color: #FBD266;
    padding: 30px;
    margin-bottom: 40px;
}

.description-div {
    background-color: #D76735;
    color: #FAFAFA;
    padding: 30px 10px;
    margin-bottom: 40px;
}

.challenges-div {
    background-color: #8FB0A9;
}

.challenge-card {
    background-color: #C7D3C9;
    margin: 20px 5px;
}